 
h3{
    text-align: center;
    margin-top: 5px;
  }
   .card-sec{
     padding: 5% 10%;
    
   }
   .card{
     text-align: center;
     background-color:#FAFAFB;
   }
   .card-body{
     height: 150px;
    
   }